# Virtual Environment in Python

##### Create a virtual environment
`conda create -n project1 python=3.8`

##### To activate the virtual environment
`conda activate project1`

##### display the active environment
`conda info --envs`
##### This will list all your environments, with an asterisk (*) next to the currently active one.

In [9]:
import pandas as pd

data = [
    {
        "Name": "Jabir",
        "Age": 20,
        "Gender": "Male"    
    },
    {
        "Name": "Alex",
        "Age": 25,
        "Gender": "Male"    
    },
    {
        "Name": "Geetha",
        "Age": 19,
        "Gender": "Female"    
    },
]

df = pd.DataFrame(data)

df

     Name  Age  Gender
0   Jabir   20    Male
1    Alex   25    Male
2  Geetha   19  Female