##### 1. Write a Python function that takes a list and returns a new list with unique elements of the first list.
**Example:**

input: 

<span style="color: red">[1, 2, 3, 3, 3, 3, 4, 5]</span>

Output: 

<span style="color: green">[1, 2, 3, 4, 5]</span>

In [2]:
def unique(num_list: list):
    result = []
    for i in num_list:
        if i not in result:
            result.append(i)
    
    return result
            
input_list = [1, 2, 3, 3, 2, 4, 3, 1, 5]
print(unique(input_list))

[1, 2, 3, 4, 5]

##### 2. Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example**

Input:

<span style="color: red">green-red-yellow-black-white</span>

Output:

<span style="color: green">black-green-red-white-yellow</span>

In [10]:
def sort_sequence(string):
    return "-".join(sorted(string.split("-")))
    
print(sort_sequence("green-red-yellow-black-white"))

black-green-red-white-yellow

##### 3. A dictionary contains following information about 5 employees:
- First name
- Last name
- Age 
- Grade (Skilled, Highly skilled)

Write a program using map/filter/reduce to a list of employees (first name + last name) who are highly skilled

In [25]:
employees = [
    {
        "fname": "Mohammed",
        "lname": "Jabir",
        "age": 20,
        "grade": "Skilled"
    },
    {
        "fname": "Elon",
        "lname": "Musk",
        "age": 49,
        "grade": "Highly skilled"
    },
    {
        "fname": "Hijas",
        "lname": "Ahmed",
        "age": 25,
        "grade": "Semi skilled"
    },
    {
        "fname": "Nabeel",
        "lname": "KK",
        "age": 29,
        "grade": "Skilled"
    },
    {
        "fname": "Arjun",
        "lname": "Reddy",
        "age": 37,
        "grade": "Highly skilled"
    },
]

In [28]:
filtered = list(filter(lambda x: x["grade"] == "Highly skilled", employees))

filtered

[{'fname': 'Elon', 'lname': 'Musk', 'age': 49, 'grade': 'Highly skilled'},
 {'fname': 'Arjun', 'lname': 'Reddy', 'age': 37, 'grade': 'Highly skilled'}]

In [29]:
list(map(lambda x: f"{x['fname']} {x['lname']}", filtered))

['Elon Musk', 'Arjun Reddy']

In [30]:
list(map(lambda x: f"{x['fname']} {x['lname']}", list(filter(lambda x: x["grade"] == "Highly skilled", employees))))

['Elon Musk', 'Arjun Reddy']